* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #08b18c !important;
}

.header {
    box-shadow: 0 0px 10px 0px rgb(110, 120, 126);
    /* background-color: rgb(5, 132, 182); */
    background-color: #058b6e;
    color: aliceblue;
}

.grey {
    background-color: rgb(223, 226, 222);
}