<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Css/bootstrap-main/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Static/Css/styles.css?{% now " U " %}">
    <title>Home Page</title>
</head>

<body style="background-color: #e3e3e3 !important;">
    <div class="container-fluid mb-3 py-2 d-flex justify-content-end header align-items-center">
        <b class="px-4  fs-5 border-end border-light">{% if user.is_authenticated %}welcome  : &nbsp;
            <span class="text-warning">{{user.username}}</span>{% endif %} </b>
        <form method="post">{% csrf_token %}
            <!-- <input type="search" id="" placeholder="Search for Student" name="name" class="px-4 py-1  mx-2  text-center"> -->
            <!-- <button type="submit" name="logout" class="btn btn-success px-2 py-1 mx-2  mt-0 "><i class="bi bi-search "></i> Search</button> -->
            <button type="submit" value="logout" name="logout" class="btn btn-danger ms-2 py-1"> Logout <i
                    class="bi bi-box-arrow-right"></i></button>
        </form>
    </div>
    <!-- {% for ticket in tickets %} {{ticket.ticket_name}} {{ticket.ticket_description}} {{ticket.created}} {{ticket.modified}}{{ticket.status}}{% endfor %} -->

    <div class="col-md-12 d-flex justify-content-center  mt-5">


        <div class="col-md-10  bg-light shadow-lg">
            <h2 class="text-center  pt-2">Tickets list</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th scope="col">Ticket Name</th>
                        <th scope="col">Ticket Description</th>
                        <th scope="col">Created time</th>
                        <th scope="col">Modified time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created By</th>

                    </tr>
                </thead>
                <tbody>
                    {% for ticket in ticket %}
                    <tr>
                        <td><a href="/adminupdate/{{ticket.id}}">{{ticket.ticket_name}}</a></td>
                        <!-- <td>{{ticket.ticket_name}}</td> -->
                        <td>{{ticket.ticket_description}}</td>
                        <td>{{ticket.created|date:"d/M/y H:m"}}</td>
                        <td>{{ticket.modified|date:"d/M/y H:m"}}</td>
                        <td>{{ticket.status}}</td>
                        <td>{{ticket.created_by}}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</body>

</html>